.videoContainer {
    aspect-ratio: 16/9;
    width: 100%;
    position: relative;
}

.videoListContainer {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(1, 1fr);
    padding: 32px;
    width: 100%;

    @media (min-width: 600px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.videoChannelImageContainer {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}

.videoThumbnailContainer {
    aspect-ratio: 16/9;
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    position: relative;
}