.videoContainer {
    aspect-ratio: 16/9;
    width: 100%;
    position: relative;
}



.videoChannelImageContainer {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}

.videoThumbnailContainer {
    aspect-ratio: 16/9;
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}