.headerContainer {
    align-items: center;
    display: flex;
    height: 60px;
    padding: 0 32px;
    width: 100%;
}

.headerLeftContainer {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

.headerCenterContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 2;
}

.headerRightContainer {
    align-items: center;
    justify-content: flex-end;
    display: flex;
    flex: 1;
}



.logoImageContainer {
    height: 24px;
    position: relative;
    width: 100px;

}